* {
	font-family: 'Ubuntu', sans-serif;
	line-height: 145%;
}

/* Dropdown menu verstecken und bei hover anzeigen - manchmal buggy und tauch ohne hover auf */

nav ul li div#login-content {
	visibility: hidden;
}

nav ul li:hover div#login-content {
	visibility: visible;

}

body {
    background-color: #F0F0F0;
    width: 1170px;
    margin: 0 auto;
	padding: 0;
}
h1 {
    font-family: 'Ubuntu Condensed', sans-serif;
    line-height: 145%;
    padding-top: 20px;

}

/* |-------------------- HEADER & NAV --------------------| */


nav {
	background-color: lightgrey;
	height: 80px; width: 1170px;
	margin: 0;
	padding: 0;
	text-align: center;
}

/* the top level list */

nav ul {
	font-family: Arial, Verdana;
	font-size: 14px;
	margin: 0;
	padding: 0;
	/* for orienting the submenu */
	position: relative;
}


/* the logo, complete with imageswap on hover */

nav #img-container {
	width:150px;height:80px;
	background-image: url('Logo/infbox_logo-green.png');
	-webkit-transition: background 0.4s ease-in-out;
	padding-right: 15px;
	/* otherwise the image will be repeated in the padding :)*/
	background-repeat: no-repeat;
}

nav #img-container:hover {
			transition: background 0.4s ease-in-out; /* vendorless fallback */
         -o-transition: background 0.4s ease-in-out; /* opera */
        -ms-transition: background 0.4s ease-in-out /* IE 10 betas, not needed in final build. */
       -moz-transition: background 0.4s ease-in-out; /* Firefox */
    -webkit-transition: background 0.4s ease-in-out; /*safari and chrome */
	background-image: url('Logo/infbox_logo-grey.png');
}

/* these are the top level menu boxes*/

nav ul li {
	height: 80px;
	display: block;
	position: relative;
	float: left;
	-webkit-transition: background-color 0.4s ease-in-out; /*safari and chrome */
}


/* make the background-color of the menu items fade nicely */

nav ul li:hover {  
            transition: background-color 0.4s ease-in; /* vendorless fallback */
         -o-transition: background-color 0.4s ease-in; /* opera */
        -ms-transition: background-color 0.4s ease-in; /* IE 10 betas, not needed in final build. */
       -moz-transition: background-color 0.4s ease-in; /* Firefox */
    -webkit-transition: background-color 0.4s ease-in-out; /*safari and chrome */
	background-color: #666666;
}

/* class for making half the menu float right */

.menu-nav-right {
	float: right;
}


/* these are the top level menu anchors*/

nav ul li a, img {
	display: block;
	text-decoration: none;
	padding: 0px 15px 0px 15px;
	color: darkgrey;
	/*margin-left: 1px;*/
	white-space: nowrap;
	height: 80px;
	line-height: 98px;
	/* makes the color fade-out on mouse leave */
	-webkit-transition: color 0.4s ease-in-out; /*safari and chrome */
}

/* invert the color of the links on hover */

nav ul li a:hover {
	color: #F0F0F0;
	-webkit-transition: color 0.4s ease-in-out; /*safari and chrome */
}

/* this is the logo container */

/* nav ul li:first-child {
	padding: 0px 25px 0px 2px
} */

nav ul li:first-child:hover {
	background-color: lightgrey;
}

/* settings for the font-awesome font */

i {
	padding: 0px 7px 0px 7px;
}

nav ul li form {
	position: absolute;
	/* dirty fix for the margin/padding of the form */
	right: -2px;
	color: #AFB5B8;

}

/* style for the input forms */

label{
    display: inline;
    float: left;
    clear: left;
    text-align: right;
}
input {
  display: inline-block;
  float: left;
}






/* |-------------------- CONTENT --------------------| */

section span:nth-child(3)  {
	padding: 0px 10px 0px 10px
}