body {
    background-color: lightblue;
}
h1 {
    color: navy;
    margin-left: 20px;
}

ul#menu-nav li {
  
list-style-type: none;
display: inline;
margin: 0.4em; padding: 0;
float: left;

  
}

/*

#menu-nav-right {
  float: right;
  
*/